=============== 
Unity generated
Temp/
Library/

=====================================
Visual Studio / MonoDevelop generated
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

============
OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*/Assembly-CSharp-Editor-firstpass.csproj
*/Assembly-CSharp-Editor.csproj
*/Assembly-CSharp-firstpass.csproj
*/Assembly-CSharp.csproj
Builds/*
Assets/StreamingAssets
profile.data.txt
*/Unity3DRider.cs

IWPackageExport
.idea
profile.data.txt.meta
Logs
/GradleProject/
/.gradle/
*.sln.DotSettings
/GameAssembly.csproj.DotSettings
/*.DotSettings
